<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
      <p><%= error %></p>
      <% end %>
  <% end %>
	  <div class="f-field"><%=f.text_field :firstname, placeholder: "First Name" %></div>
    <div class="f-field"><%=f.text_field :lastname, placeholder: "Last Name" %></div>
    <div class="f-field"><%=f.email_field :email, placeholder: "Email" %></div>
    <div class="f-field"><%=f.text_field :phone, placeholder: "Phone Number" %></div>
    <div class="f-field"> <%=f.password_field :password, placeholder: "Password" %></div>
    <div class="f-field"> <%=f.password_field :password_confirmation, placeholder: "Confirm Password" %></div>
  	<div class="submit"><%=f.submit%></div>
<% end %>