<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
      <p><%= error %></p>
      <% end %>
  <% end %>
  <div class="form-content">
	  <%=f.text_field :firstname, placeholder: "First Name", class:"field" %>
    <%=f.text_field :lastname, placeholder: "Last Name", class:"field"%>
    <%=f.email_field :email, placeholder: "Email", class:"field" %>
    <%=f.text_field :phone, placeholder: "Phone Number", class:"field" %>
    <%=f.password_field :password, placeholder: "Password", class:"field" %>
    <%=f.password_field :password_confirmation, placeholder: "Confirm Password", class:"field" %>
  	<%=f.submit%>
  </div>
<% end %>