<%= form_for @card do |f| %>
  <% if @card.errors.any? %>
    <% @card.errors.full_messages.each do |error| %>
      <p><%= error %></p>
      <% end %>
  <% end %>
  <div class="form-content">
  	<%=f.text_field :card_number, placeholder: "Card Number", class:"field" %>
    <%=f.label :expiration_month, class:"label" %>
    <%=f.select :exp_month, (1..12), placeholder: "Expiration Month", class:"field" %><br>
    <%=f.label :Expiration_Year, class:"label" %>
    <%=f.select :exp_year, (2015..2025), placeholder: "Expiration Year", class:"field" %>
    <%=f.text_field :balance, placeholder: "Balance", class:"field"%>
    <%=f.submit :Submit, class:"submit-btn"%>
  </div>
<% end %>