<%= form_for @card do |f| %>
  <% if @card.errors.any? %>
    <% @card.errors.full_messages.each do |error| %>
      <p><%= error %></p>
      <% end %>
  <% end %>
  <div class="form-content">
  	<%=f.text_field :card_number, placeholder: "Card Number", class:"field" %>
    <%=f.label :expiration_date, class:"label" %><br>
    <%=f.select :exp_month, (1..12), {}, {class:"dropdown"} %><%=f.select :exp_year, (2015..2025), {}, {class:"dropdown"} %>
    <%=f.text_field :balance, placeholder: "Balance", class:"field"%>
    <%=f.submit class:"submit" %>
  </div>
<% end %>