<!DOCTYPE html>
<html>
<head>
  <title>WalletPal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav">
  <div class="logo"><a href="/">Wallet<span>Pal</span></a></div>
  <ul>
    <% if session[:user_id] %>
    <li><%= link_to "Sign Out", users_sign_out_path %></li>
    <% else %>
    <li><%= link_to "Sign Up", sign_up_path %></li>
    <li><%= link_to "Sign In", sign_in_path %></li>
    <% end %>
  </ul>
</div>

<% if flash[:notice] %>
  <div class="notice"><%=flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert"><%=flash[:alert] %></div>
<% end %>

<%= yield %>

</body>
</html>
